<div class="<%= header_class %>">
  <%= render "shared/page_header", title: "Transmisje", subtitle: "Zarządzaj transmisjami na żywo" %>
  <%= link_to new_transmission_path, class: "btn btn-primary w-full sm:w-auto", data: { turbo_frame: "transmission_modal" } do %>
    <%= lucide_icon('plus', class: 'w-4 h-4') %>
    Dodaj transmisję
  <% end %>
</div>
