<%= turbo_frame_tag "transmission_modal" do %>
  <dialog class="modal modal-open">
    <div class="modal-box max-w-md max-h-[90vh]">
      <h3 class="font-bold text-lg mb-4">Edycja transmisji</h3>
      <%= render "form" %>
    </div>
    <div class="modal-backdrop"
         onclick="document.getElementById('transmission_modal').innerHTML = ''">
    </div>
  </dialog>
<% end %>
