<%= turbo_frame_tag "user_modal" do %>
  <dialog class="modal modal-open">
    <div class="modal-box max-w-md max-h-[90vh]">
      <h3 class="section-title mb-4">Nowy pracownik</h3>
      <%= render "form" %>
    </div>
    <div class="modal-backdrop"
         onclick="document.getElementById('user_modal').innerHTML = ''">
    </div>
  </dialog>
<% end %>
