<div class="container mx-auto mt-28 px-5 flex bg-gray-50">
  <div class="card bg-base-100 shadow-xl w-full max-w-md">
    <div class="card-body">
      <h2 class="card-title text-2xl font-bold justify-center mb-6">Nowy kontrahent</h2>
      <%= render "form" %>
    </div>
  </div>
</div>