<div class="<%= header_class("mb-6") %>">
  <%= render "shared/page_header",
      title: "Edytuj integrację: #{@integration.provider_name}",
      back_path: integrations_path,
      back_label: "Powrót do integracji" %>
</div>
<%= render "form", integration: @integration %>
